Pour tester l'app, rendez-vous dans les onglets
<a href="{{ path('app_project_index')}}">Projet</a>,
<a href="{{ path('app_sample_index')}}">Echantillon</a>,
<a href="{{ path('app_test_index')}}">Test</a>,
<a href="{{ path('app_equipment_index')}}">Equipement</a>
et
<a href="{{ path('app_result_index')}}">Résultat</a>.
