{{ form_start(form) }}

{{ form_row(form.name) }}

<section class="d-flex justify-content-end">
	{{ form_row(form.submit) }}
	{% if isCreate is not defined  %}
		{{ include('equipment/_delete_form.html.twig') }}
	{% endif %}
</section>

{{ form_end(form) }}
