{% extends 'base.html.twig' %}

{% block title %}Equipement
{% endblock %}

{% block body %}
	<h1>Equipement</h1>
	{% include '_partials/_partials_table_edit.html.twig' with {
		'entity_type': 'equipment',
		'entity_id': equipment.id,
		'edit_route': 'app_equipment_edit'
	} %}

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ equipment.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ equipment.name }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_equipment_index') }}">Retourner à la liste des équipements</a>

	<a href="{{ path('app_equipment_edit', {'id': equipment.id}) }}">Editer</a>

	{{ include('equipment/_delete_form.html.twig') }}
{% endblock %}
