{% extends 'base.html.twig' %}

{% block title %}Resultat
{% endblock %}

{% block body %}
	<h1>Resultat</h1>
	{% include '_partials/_partials_table_edit.html.twig' with {
		'entity_type': 'result',
		'entity_id': result.id,
		'edit_route': 'app_result_edit'
	} %}

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ result.id }}</td>
			</tr>
			<tr>
				<th>Observation</th>
				<td>{{ result.observation }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_result_index') }}">Retourner à la liste des résultats</a>

	<a href="{{ path('app_result_edit', {'id': result.id}) }}">Editer</a>

	{{ include('result/_delete_form.html.twig') }}
{% endblock %}
