{% extends 'base.html.twig' %}

{% block title %}Test
{% endblock %}

{% block body %}
	<h1>Test</h1>
	{% include '_partials/_partials_table_edit.html.twig' with {
		'entity_type': 'test',
		'entity_id': test.id,
		'edit_route': 'app_test_edit'
	} %}

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ test.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ test.title }}</td>
			</tr>
			<tr>
				<th>Scenario</th>
				<td>{{ test.scenario }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_test_index') }}">Retourner à la liste des tests</a>

	<a href="{{ path('app_test_edit', {'id': test.id}) }}">Editer</a>

	{{ include('test/_delete_form.html.twig') }}
{% endblock %}
