{% extends 'base.html.twig' %}

{% block title %}Liste des projets
{% endblock %}

{% block body %}
	<h4>
		<i class="fas fa-align-right me-3"></i>
		Liste des projets
	</h4>
	<br>

	<div class="container-table">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Nom</th>
					<th>Période</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for project in projects %}
					<tr>
						<td>
							<span>
								{% if project.status == constant('App\\Enum\\ProjectStatus::OK') %}
									<i class="fas fa-check"></i>
								{% elseif project.status == constant('App\\Enum\\ProjectStatus::EN_COURS') %}
									<i class="fas fa-spinner"></i>
								{% else %}
									<i class="fas fa-xmark"></i>
								{% endif %}
							</span>
						</td>
						<td>{{ project.name }}</td>
						<td>
							{{ project.startDate ? project.startDate|date('d/m/Y') : '' }}
							-
							{{ project.endDate ? project.endDate|date('d/m/Y') : '' }}
						</td>
						<td>
							{% include '_partials/_partials_table_actions.html.twig' with {
								'entity_type': 'project',
								'entity_id': project.id,
								'show_route': 'app_project_show',
								'edit_route': 'app_project_edit'
							} %}


							<a href="{{ path('app_sample_new', {'id': project.id}) }}">Ajouter un échantillon</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Il n'y a pas encore de projet.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<a href="{{ path('app_project_new') }}">Créer un nouveau projet</a>
{% endblock %}
