{% extends 'base.html.twig' %}

{% block title %}Projet
{% endblock %}

{% block body %}
	<h1>Projet</h1>
	{% include '_partials/_partials_table_edit.html.twig' with {
		'entity_type': 'project',
		'entity_id': project.id,
		'edit_route': 'app_project_edit'
	} %}

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ project.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ project.name }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ project.description }}</td>
			</tr>
			<tr>
				<th>Date de début</th>
				<td>{{ project.startDate ? project.startDate|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Date de fin</th>
				<td>{{ project.endDate ? project.endDate|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Statut</th>
				<td>{{ project.status }}</td>
			</tr>
		</tbody>
	</table>

	<section>
		<h3>Les échantillons du projet</h3>

		{% for sample in samples %}
			<div>
				{{ sample.type }}
				{{ sample.source }}
				{{ sample.collectionDate|date('d/m/Y') }}
				{{ sample.status }}
				<a href="{{ path('app_sample_show', {'id': sample.id}) }}">Voir</a>
			</div>
		{% endfor %}
	</section>

	<a href="{{ path('app_project_index') }}">Retourner à la liste des projets</a>

	<a href="{{ path('app_project_edit', {'id': project.id}) }}">Editer</a>

	{{ include('project/_delete_form.html.twig') }}
{% endblock %}
