{% extends 'base.html.twig' %}

{% block title %}Projet
{% endblock %}

{% block body %}
	<h4 class="text-center">Projet</h4>

	<div class="container-table">
		<p>
			Du
			{{ project.startDate ? project.startDate|date('d/m/Y') : '' }}
			au
			{{ project.endDate ? project.endDate|date('d/m/Y') : '' }}
		</p>
		<p class="fw-bold">
			<span class="me-2">
				{% if project.status == constant('App\\Enum\\ProjectStatus::OK') %}
					<i class="fas fa-check"></i>
				{% elseif project.status == constant('App\\Enum\\ProjectStatus::EN_COURS') %}
					<i class="fas fa-spinner"></i>
				{% else %}
					<i class="fas fa-xmark"></i>
				{% endif %}
			</span>

			{{ project.name }}
		</p>
		<p>{{ project.description }}</p>


		{% include '_partials/_partials_table_edit.html.twig' with {
			'entity_type': 'project',
			'entity_id': project.id,
			'edit_route': 'app_project_edit'
		} %}
	</div>

	<section>
		<h3>Les échantillons du projet</h3>

		{% for sample in samples %}
			<div>
				{{ sample.type }}
				{{ sample.source }}
				{{ sample.collectionDate|date('d/m/Y') }}
				{{ sample.status }}
				<a href="{{ path('app_sample_show', {'id': sample.id}) }}">Voir</a>
			</div>
		{% endfor %}
	</section>

	<a href="{{ path('app_project_index') }}">Retourner à la liste des projets</a>

	<a href="{{ path('app_project_edit', {'id': project.id}) }}">Editer</a>

	{{ include('project/_delete_form.html.twig') }}
{% endblock %}
